<div class="header h-14 px-6 flex flex-row items-center justify-between">
    <span class="text-xl text-zinc-700">Dashboard</span>
    <div class="flex flex-row space-x-4">
        <button mat-stroked-button color="primary" (click)="showVehicles()">
            Vehicles
        </button>
        @if(!isMobile) {
        <button mat-stroked-button color="primary" (click)="addVehicle()">
            Add Vehicle
        </button>
        }
    </div>
</div>

<div id="content" class="p-6 flex flex-col space-y-6">

    <mat-card class="w-full" appearance="outlined">

        <mat-card-content>

            <mat-form-field class="w-1/2 mt-2" [class.w-full]="isSmallScreen" appearance="outline">
                <mat-label>Filter by date</mat-label>
                <input matInput [(ngModel)]="filterDate" [matDatepicker]="filterDatePicker"
                    (dateChange)="onDateChange()" />
                <mat-datepicker-toggle matIconSuffix [for]="filterDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #filterDatePicker></mat-datepicker>
                <mat-hint [align]="'end'">MM/DD/YYYY</mat-hint>
            </mat-form-field>

            <div class="h-12 text-zinc-700 mt-2">
                Total cars parked {{totalCarParked}}
            </div>

            <div class="h-12 text-zinc-700">
                Total empty slots {{totalEmptySlots}}
            </div>

            <div class="flex flex-wrap items-center gap-2 mt-2">
                @for (v of vehicleInfo; track v.type) {
                <div class="w-32 flex flex-col items-center border border-slate-300 rounded-sm p-2 pb-0">
                    <span class="h-8 text-zinc-700">{{v.type | uppercase}}</span>
                    <span class="h-8 text-zinc-700">{{v.options?.length}}</span>
                </div>
                }
            </div>

        </mat-card-content>
    </mat-card>

    <div class="w-full flex flex-row items-center gap-6" [class.!flex-wrap]="singleColumn">

        <mat-card class="w-full" appearance="outlined">
            <mat-card-content>
                <div class="resize_chart pie">
                    <div id="pie" class="!w-full !h-full"></div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="w-full" appearance="outlined">
            <mat-card-content>
                <mat-form-field class="w-full mt-2" appearance="outline">
                    <mat-label>Parking Summary</mat-label>
                    <mat-select [(ngModel)]="period" (selectionChange)="onPeriodSelectionChange()">
                        @for (option of periodOptions; track option.value) {
                        <mat-option [value]="option.value">{{option.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <div class="resize_chart line">
                    <div id="line" class="w-full h-full"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>