<div class="header h-14 px-6 flex items-center justify-between">
    <div class="flex flex-row items-center space-x-2">
        <a [routerLink]="['/']" mat-icon-button color="primary">
            <mat-icon>home</mat-icon>
        </a>
        <mat-icon style="opacity: 0.50;">chevron_right</mat-icon>
        <span class="text-xl text-zinc-700">Vehicles</span>
    </div>
    <button mat-stroked-button color="primary" (click)="addVehicle()">
        Add Vehicle
    </button>
</div>

<div class="content p-6 pb-3">

    <section class="table-container">
        <table class="w-full" mat-table [dataSource]="dataSource" matSort>

            <!-- Index Column -->
            <ng-container matColumnDef="index" sticky>
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let i = index"> {{rowIndex(i)}} </td>
            </ng-container>

            <!-- Owner name Column -->
            <ng-container matColumnDef="ownerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner name </th>
                <td mat-cell *matCellDef="let v"> {{v.ownerName}} </td>
            </ng-container>

            <!-- Vehicle type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle type </th>
                <td mat-cell *matCellDef="let v"> {{v.type | titlecase}} </td>
            </ng-container>

            <!-- License no Column -->
            <ng-container matColumnDef="licenseNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> License no </th>
                <td mat-cell *matCellDef="let v"> {{v.licenseNo}} </td>
            </ng-container>

            <!-- Entry time Column -->
            <ng-container matColumnDef="entryTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry time </th>
                <td mat-cell *matCellDef="let v"> {{convertDate(v.entryTime)}} </td>
            </ng-container>

            <!-- Exit time Column -->
            <ng-container matColumnDef="exitTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exit time </th>
                <td mat-cell *matCellDef="let v"> {{convertDate(v.exitTime)}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let v"> {{v.status | titlecase}} </td>
            </ng-container>

            <!-- Star Column -->
            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let v">
                    <button mat-icon-button color="primary" (click)="editVehicle(v)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </section>

    <span class="flex-grow"></span>

    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="handlePageEvent($event)"></mat-paginator>
</div>