// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$vehicle-parking-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($vehicle-parking-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($vehicle-parking-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($vehicle-parking-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  border-bottom: 1px solid #e1e1e1;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-snack-bar-container {
  &.success {
    --mdc-snackbar-container-color: #00c77c;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  .mdc-button__label {
    color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.warn {
    --mdc-snackbar-container-color: #ef1b42;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  .mdc-button__label {
    color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.hint {
    --mdc-snackbar-container-color: #0077ff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  .mdc-button__label {
    color: #fff;
  }
}

.resize_chart {
  height: 400px;
  width: 100% !important;
}